// font-family
$family-standart: 'Open Sans Condensed', sans-serif;
$family-text: 'Open Sans', sans-serif;

// font size
$standart-size: 16px;

// bg
$bg-main: #428bca;
$bg-main-light: rgba(50, 160, 224, 0.79);
$bg-color-2: #4D4D4D;
$dark-color: #333;


// font color
$h-color: #666;
$active-color: #777777;
$color-on-dark: rgba(255, 255, 255, .5);
