<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[[++site_name]] - [[*pagetitle]]</title>
  <base href="[[++site_url]]" /> [[$head_link]]
  [[$map-code]]
</head>

<body data-spy="scroll" data-target=".main-nav" onload="initialize()" class="home-page">
  <header class="group main">
    <!-- <nav class="main-nav">[[Wayfinder? &startId=`0`]]</nav> -->
    <!-- [[$nav-main]] -->
  </header>
  <div class="home-bg">

    [[*content]]
  </div>
  <section class="group main">

    <div class="main where-life list-box-part" id="where-life">



      <h2>Где жить в Шри-Ланке</h2>

      <div class="list-box-main group">
        <div class="filter-nav">
          <div class="button-div  all">Все</div>
          <div class="button-div active beach-link">Пляж</div>
          <div class="button-div town-link">Город</div>
          <div class="button-div rocks-link">Горы</div>
          <div class="button-div jungly-link">Джунги</div>
        </div>
        <div class="row">
          [[$blog]]
        </div>
      </div>
    </div>
  </section>

  <div class="test">



  </div>

  <div class="clearfix what-we-can-do" id="what-do">
    <h2>Чем заняться на острове</h2>

    <div class="clearfix container">
      <div class="row slider-content">
        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/tortules.jpg" alt="img" />
            <div class="name-slide">Экскурсии</div>
            <p class="information-about">У нас есть как однодневниые экскурсии так туры от 2 до 28 дней.</p>
          </a>
        </div>


        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/yala.jpg" alt="img" />
            <div class="name-slide">Сафари на джипах</div>
            <p class="information-about">
              Яла (Yala) – это природный заповедник, который располагается на юго-востоке Шри-Ланки, на самом берегу. </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/marry.jpg" alt="img" />
            <div class="name-slide">Свадьба на Шри-Ланке</div>
            <p class="information-about">
              Большинство молодожёнов со всего мира уверены, что организовать незабываемую свадьбу можно лишь в экзотических странах. </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/yahting.jpg" alt="img" />
            <div class="name-slide">Яхтинг</div>
            <p class="information-about">
              Компания "Kaetana Lanka" предлагает свои услуги по фрахту яхт.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/daiving.jpg" alt="img" />
            <div class="name-slide">Дайвинг</div>
            <p class="information-about">
              Дайвинг (подводное плавание с аквалангом) – активный вид отдыха для людей различных возрастов и профессий.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/fishing.jpg" alt="img" />
            <div class="name-slide">Рыбалка</div>
            <p class="information-about">
              Шри-Ланка – живописный уголок, со своей самобытной культурой и наполовину не тронутой цивилизацией.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/romantic.jpg" alt="img" />
            <div class="name-slide">Романтический ужин</div>
            <p class="information-about">
              Мы с удовольствием поможем Вам провести романтический ужин на берегу океана! </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/sapfir.jpg" alt="img" />
            <div class="name-slide">Драгоценные камни</div>
            <p class="information-about">
              C древних времен Шри-Ланку называют островом драгоценных камней, так как здесь находят от 40 до 85 их разновидностей, которые, по слухам, залегают в недрах почти 90% территории острова.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/tea.jpg" alt="img" />
            <div class="name-slide">Основной шопинг</div>
            <p class="information-about">
              Яла (Yala) – это природный заповедник, который располагается на юго-востоке Шри-Ланки, на самом берегу. Индийский океан граничит с частью парка.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/villy.jpg" alt="img" />
            <div class="name-slide">Китовое сафари</div>
            <p class="information-about">
              Яла (Yala) – это природный заповедник, который располагается на юго-востоке Шри-Ланки, на самом берегу. Индийский океан граничит с частью парка.
            </p>
          </a>
        </div>

        <div class="slid col-md-4">
          <a href="#">
            <img src="/i/maldivi.jpg" alt="img" />
            <div class="name-slide">Отдых на Мальдивах</div>
            <p class="information-about">
              Яла (Yala) – это природный заповедник, который располагается на юго-востоке Шри-Ланки, на самом берегу. Индийский океан граничит с частью парка.
            </p>
          </a>
        </div>


      </div>
    </div>
  </div>

  <div class="form-write clearfix contacts white-block" id="contact">
    <div class="container">

      <h2>Наши контакты</h2>
      <div class="contacts-information col-md-4">
        <a href="mailto:kaitanalanka@gmail.com">kaitanalanka@gmail.com</a>
        <br/>
        <a href="http://vk.com/kaitana777" target="_blank">vk.com/kaitana777</a>
        <p class="tel">телефон (Шри Ланка): + 94 773 625 515</p>
        <p class="tel">телефон (Шри Ланка): +94 777 208 767</p>
        <p class="wup">WhatsApp: +94 77 101 24 20</p>
        <p class="viber">Viber: + 94 77 362 55 15</p>
      </div>
      <form role="form" class="col-md-6 form-contacts-home">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Ваш email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Ваше имя">
        </div>
        <div class="form-group">
          <textarea id="textarea-form" placeholder="Текст Вашего вопроса"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div>

  <!-- <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31742.97923587804!2d80.23684481806853!3d6.012252271308798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae172f162bf926d%3A0xc0444c5e8377446c!2z0KPQvdCw0LLQsNGC0YPQvdCwLCDQqNGA0Lgt0JvQsNC90LrQsA!5e0!3m2!1sru!2sru!4v1446632002895"
    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div> -->


  <div id="map_canvas" style="width: 100%; height: 350px;"></div>

  <footer class="main clearfix">
    <div class="first-line-footer">
      <div class="container">
        <div class="row">

          <div class="col-md-2">
          <div class="col-md-12">
            <div class="footer-logo-div">
              <a href="/" class="logo-footer"><img src="/i/logo.png"  class="logo-footer-img"/></a>
            </div>
          </div>
          </div>

          <div class="col-md-10">
            <div class="col-md-3 col-sm-3">
              <h4>Основная информация</h4>
              <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Где жить</a></li>
                <li><a href="#">Чем занятся</a></li>
                <li><a href="#">Полезная информация</a></li>
                <li><a href="#">Медиа</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Отзовы</a></li>
                <li><a href="#">Конткты</a></li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-3">
              <h4>Полезная инофрмация</h4>
              <ul>
                <li><a href="#">Как долететь</a></li>
                <li><a href="#">Местная кухня</a></li>
                <li><a href="#">Местные обычаи</a></li>
                <li><a href="#">Праздники и фестивали</a></li>
                <li><a href="#">Карта Шри-Ланки</a></li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-3">
              <h4>Основные туры</h4>
              <ul>
                <li><a href="#">Тур на 2 дня</a></li>
                <li><a href="#">Тур на 7 дней</a></li>
                <li><a href="#">Тур на 12 дней</a></li>
                <li><a href="#">Тур на месяц</a></li>
                <li><a href="#">Свадебный тур</a></li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-3">
              <h4>Медиа</h4>
              <ul>
                <li><a href="#">Фотографии</a></li>
                <li><a href="#">Видео</a></li>
              </ul>
            </div>
          </div>




        </div>
      </div>
    </div>
    <div class="bootom-dark-footer text-center">
      <div class="container">
        <div class="row">
        <small>Copyright (c) 2015 Copyright Holder All Rights Reserved.</small>
        </div>
      </div>
    </div>
  </footer>
  <div id="page-preloader"><span class="spinner"></span>

  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/jquery.vide.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/js/slick.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
